{
    email {{ admin_email }}
}

(tls_conf) {
    tls {
        dns route53
    }
}

(forwarded_headers) {
    header_up Host              {host}
    header_up X-Real-IP         {remote_host}
    header_up X-Forwarded-Port  {port}
}

(security_headers) {
	header {
        Strict-Transport-Security   max-age=31536000; includeSubDomains
        X-Content-Type-Options      nosniff
        X-Frame-Options             DENY
        X-XSS-Protection            1; mode=block
    }
}

(log_file) {
    log {
        format console
        output file    /var/log/caddy/{args.0}.access.log
    }
}

api.trezcool.com {
    import log_file api.trezcool
    import security_headers

    respond "Who dis?"
}

masomo-api.trezcool.com {
    # import tls_conf # fixme: DNS challenge to use CNAME instead of A record..
    import log_file masomo-api.trezcool
    import security_headers

    basicauth /debug* {
        {{ http_auth.username }} {{ http_auth.password }}
    }
    reverse_proxy /debug* localhost:9000

    reverse_proxy localhost:8000 {
        import forwarded_headers

        # health_path ...
        # health_interval ... # eg. 5s, 5m, 1h, 1h30m
        # health_timeout ...
    }
}
